.linha{
  display: flex;
  margin-top: 40px;
  justify-content: space-around;
  background-color: #9a9ab654;
  color: #f1f1f1;
}

h1{
  text-align: center;
  color: #eeaa15;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.App{
  max-width: 900px;
  margin: auto;
  background-color: #1a1a35;
}
